/* Fonts */
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-Bold.eot"),
    url("/fonts/gilroy/Gilroy-Bold.woff2");
}
p {
  margin: 0;
}
* {
  margin: 0;
  padding: 0;
  color: black;
}

.nav {
  font-family: "Gilroy";
  padding-top: 35px;
  align-items: baseline;
  justify-content: space-around;
  font-size: 14px;
}
/* Header__navbar */
.header__nav {
  display: flex;
}

.header__logo__img {
  margin-right: 15px;
}


.header__logo__text span {
  color: #00b107;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
}
.header__logo__text p {
  color: #a0a0a0;
}

.header__navbar__ul {
  display: flex;
}
.header__navbar__ul li {

  list-style: none;
  margin-right: 31px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 17px;
}
.header__navbar__ul li a {
  color: black;
  text-decoration: none;
}
.header__navbar__ul li a.active {
  color: #00b107;
  padding-left: 20px;
}

/* Header__clock */

.header__clock p {
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 17px;
}
.header__clock__logo {
  display: flex;
}
.header__clock__logo span {
  padding-right: 8px;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 25px;
}
.header__clock__text {
  text-align: end;
}
/* Header__Phone */
.header__phone p {
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 17px;
}
.header__phone__logo {
  display: flex;
}
.header__phone__logo span {
  padding-left: 8px;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 25px;
}
.header__phone__text {
  text-align: end;
}
.burger {
  display: none;
}
/*Section - Info */
.info__section {
  display: flex;
  margin-top: 60px;
  position: relative;
}

/* Info - text */
.info__section__text {
  z-index: 1;
}
.info__section__text__title h2 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 70px;
  letter-spacing: -2px;
}
.info__section__text__body p:nth-child(1) {
  margin-top: 50px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: -1px;
}
.info__section__text__body p:nth-child(2) {
  font-family: "Gilroy";
  margin-top: 35px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: -1px;
}
/* Info - Image */

.info__section__image img {
  width: 76%;
  position: absolute;
  top: -22%;
  right: -15%;
}

/* Info-button */
.info__section__text__button {
  margin-top: 85px;
}
.info__section__text__button button {
  padding: 10px 60px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  background: #fcd95a;
}

/* Detox section */

.detox__section {
  display: flex;
  align-items: center;
  margin-top: 120px;
}

.detox__section__text__p {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 25px;
}
.detox__section__text__p b {
  color: #00b107;
  font-size: 35px;
}

/* Info Detox */

.info__detox__section {
  margin-top: 130px;
}
.info__detox__section__body {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  border: 0.5px solid #00b107;
  box-sizing: border-box;
  border-radius: 50px;
  padding: 25px;
}

.info__detox__section__body p {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -1px;
  padding-left: 50px;
}

/* About Detox */
.about__detox__section {
  margin-top: 140px;
}
.about__detox__section h3 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 70px;
}
.about__detox__section__flex {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
}
.about__detox__section__body {
  text-align: center;
}
.about__detox__section__body p {
  margin-top: 24px;
  font-family: "Gilroy";
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 20px;
}

/* By Detox */
.by__detox h3 {
  margin-top: 150px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 70px;
}

.slider{
  position: relative;
  

}
.next__slider{
 top: 35%;
 left: 75%;
 position: absolute;
}
.next span{
  font-size: 65px;
  color: #249774;
}
.prev__slider{
  top: 35%;
  right: 85%;
  position: absolute;
}
.prev span{
 font-size: 65px;
 color: #249774;
}
.by__detox__flex {
  display: flex;
  margin-top: 78px;
}
.by__detox__body__top {
  display: flex;
}
.by__detox__input {
  display: flex;
  justify-content: space-between;
}
.by__detox__form {
  margin-top: 50px;
}
.by__detox__input .by__detox__input__name:nth-child(2) {
  margin-left: 60px;
}
.by__detox__input .by__detox__input__name:nth-child(1) {
  margin-left: 20px;
}
.by__detox__image img {
  width: 90%;
}
.by__detox__image p {
  letter-spacing: -1px;
  width: 150%;
  font-weight: 900;
  font-size: 24px;
  line-height: 25px;
}
.by__detox__input__name label {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 25px;

  text-transform: uppercase;
}
.by__detox__form input {
  border: 1px solid #000;
  padding: 15px 70px 20px 20px;
  background: #ffffff;
  border: 0.5px solid #00b107;
  box-sizing: border-box;
  border-radius: 10px;
}
.by__detox__form input::placeholder {
  font-weight: 900;
  font-size: 15px;
  line-height: 25px;

  color: #d7d7d7;
}
.by__detox__form input[type="tel"] {
  font-weight: 900;
  font-size: 15px;
  line-height: 25px;

  color: #d7d7d7;
}
.info__section__text__button:nth-child(2) {
  text-align: end;
  margin-top: 90px;
}

/* Detox Bar */
.detox__bar {
  margin-top: 200px;
}
.detox__bar h3 {
  margin-bottom: 30px;

  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 40px;
}
.detox__bar b {
  color: #00b107;
}
.detox__bar__flex {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.nth_3 h4 {
  padding-top: 20px;
}

.detox__bar__image h4 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 20px;

  text-align: center;
  margin-top: 20px;
}

.detox__bar__image p {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 30px;

  text-align: center;

  color: #878787;
}

/* Detox ingredient */
.our__ingredient {
  margin-top: 220px;
}
.our__ingredient__flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  text-align: center;
}
.our__ingredient h3 {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 70px;
  text-align: center;
  margin-bottom: 50px;
}
.our__ingredient__image p {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 20px;
  margin-top: 20px;
}
/* Gallery Instagram */
.instagram__detox h3 {
  margin-top: 200px;
  text-align: center;
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 48px;
  line-height: 60px;
}
.detox__gallery__instagram {
  display: flex;
  justify-content: space-evenly;
}
.detox__image__gallery img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.detox__image__gallery img:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

/* Hover 2 image block */
.detox__image__gallery__center img {
  width: 325px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.detox__image__gallery__center img:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.detox__instagram__logo {
  text-align: center;
  padding-top: 20px;
}
.detox__instagram__logo a {
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  color: #303030;
  text-decoration: none;
}
/* Shipping Detox */
.shipping__detox {
  position: relative;
}
.shipping__detox_bg {
  position: absolute;
  top: -100%;
  left: -33%;
}

.shipping__detox__flex {
  display: flex;
  justify-content: space-between;
}

.shipping__detox h3 {
  margin-top: 200px;
  text-align: center;
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 48px;
  line-height: 60px;
}
.shipping__detox__image {
  text-align: center;
}
.shipping__detox__image img {
  margin-top: 75px;
  width: 90px;
}
.shipping__detox__image h5 {
  text-align: initial;
  margin-top: 27px;
  font-weight: 900;
  font-size: 20px;
  line-height: 20px;
}
.shipping__detox__image p {
  text-align: initial;
  width: 208px;
  font-weight: 900;
  font-size: 15px;
  line-height: 22px;

  color: #606060;
  margin-top: 8px;
}
.shipping__detox__image b {
  color: #00b107;
}

/* Review  */
.reviews__detox h3 {
  margin-top: 200px;
  text-align: center;
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 48px;
  line-height: 60px;
}
.reviews__detox__body__name {
  width: 400px;
  margin-top: 60px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px rgb(44 177 0 / 60%);
  border-radius: 70px;
  padding: 10px 0 10px 10px;
}
.reviews__detox__body__name p {
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  padding-left: 30px;

  color: #249774;
}

.reviews__detox__body__text {
  margin-top: 70px;
  box-shadow: 0 0 10px rgb(44 177 0 / 60%);
  border-radius: 40px;
  padding: 35px 45px 35px 45px;
}
.reviews__detox__body__text span {
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;

  color: #249774;
}
.reviews__detox__body__text p {
  margin-top: 30px;
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
}

/* Review Add */
.add__reviews__detox h3 {
  margin-top: 200px;
  text-align: center;
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 48px;
  line-height: 60px;
}

.add__reviews__detox__body__name {
  width: 500px;
  margin-top: 60px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px rgb(44 177 0 / 60%);
  border-radius: 70px;
  padding: 10px 0 10px 10px;
}
.add__reviews__detox__body__name p {
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  padding-left: 30px;

  color: #c4c4c4;
}
#add__review__detox__input {
  border: none;
  padding-left: 20px;
  font-weight: 900;
  font-size: 20px;
  line-height: 10px;
  color: #c4c4c4;
}
#add__review__detox__input:focus {
  outline: none;
}
.add__reviews__detox__body__text {
  margin-top: 70px;
  box-shadow: 0 0 10px rgb(44 177 0 / 60%);
  border-radius: 40px;
  border: none;
  padding: 35px 45px 35px 45px;
  height: 300px;
}
#add__review__detox__text__input {
  font-weight: 900;
  margin-top: 20px;
  font-size: 20px;
  line-height: 20px;
  border: none;
}
.add__reviews__detox__body__text p {
  color: #249774;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
}

#add__review__detox__text__input:focus {
  outline: none;
}
/* Detox Contacts */
.detox__contact h3 {
  margin-top: 200px;
  text-align: center;
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 50px;
}
.detox__contact__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__phone__text p {
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 17px;
}
.contacts__social {
  text-align: center;
  margin-top: 30px;
}
.contacts__social a:nth-child(1) {
  margin-right: 10px;
}
/* footer */

footer {
  background-color: #bcffbf;
  margin-top: 200px;
  padding: 40px 0 40px 0;
}
.detox__footer p {
  font-weight: 900;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #afafaf;
}

/* Respone Adaptive */
@media screen and (min-width: 1200px) {
  .info__section__image img {
    width: 62%;
    right: -6%;
  }
  .shipping__detox_bg {
    width: 135%;
    top: -79%;
  }
  .detox-none{
    display: none;
  }
  .detox-block{
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .header__navbar__ul li a {
    font-size: 13px;
  }
  .header__navbar__ul li {
    margin-right: 10px;
  }
  .header__clock__logo span {
    font-size: 17px;
  }

  .header__phone__logo span {
    font-size: 17px;
  }
  .header__phone__text p {
    font-size: 12px;
  }
  .info__section__text__title h2 {
    font-size: 40px;
    line-height: 50px;
  }
  .info__section__image img {
    width: 64%;
    top: -25%;
    right: -4%;
  }
  .shipping__detox_bg {
    left: -53%;
    width: 156%;
    top: -70%;
  }
  .our__ingredient__image img {
    width: 90%;
  }
  .by__detox__body__card img {
    width: 90%;
  }

  .by__detox__input .by__detox__input__name:nth-child(2) {
    margin-left: 10px;
  }
  .by__detox__form input::placeholder {
    font-weight: 900;
    font-size: 13px;
    line-height: 25px;

    color: #d7d7d7;
  }
  .by__detox__form input[type="tel"] {
    font-size: 13px;
  }
  .by__detox__image p {
    margin-top: 80px;
  }
  .detox__bar__image img {
    width: 95%;
  }

  .about__detox__section__body p {
    font-size: 17px;
  }
  .detox__image__gallery__center img {
    width: 91%;
    display: flex;
  }
  .detox__image__gallery img {
    width: 95%;
  }
  .reviews__detox__body__text p {
    font-size: 20px;
  }
  .detox-none{
    display: none;
  }
  .detox-block{
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .nav{
    align-items: end;
  }
  .menuNav span{
    width: 50px;
    border: 2px solid #00B03C;
    border-radius: 20px;
    margin-top: 10px;
    display: block
  }
  .menuNav span:nth-child(1){
    margin-top: 0;
    
  }
  .menuNav span:nth-child(2){
    width: 40px;
    
  }
  .menuNav span:nth-child(3){
    width: 30px;
   
  }
  .header__navbar__ul{
    display: none;
  }
  .header__logo__text,
  .header__logo__text span {
    font-size: 11px;
  }
  .header__navbar__ul li a.active {
    padding-left: 0;
  }
  .header__navbar__ul li a {
    font-size: 10px;
  }
  .header__clock__logo span {
    font-size: 11px;
  }
  .header__clock p {
    font-size: 9px;
    line-height: 2px;
  }
  .header__phone__logo span {
    font-size: 11px;
  }
  .header__phone p {
    font-size: 9px;
    line-height: 2px;
  }
  .header__navbar__ul li {
    font-size: 10px;
  }
  .info__section__text__title h2 {
    font-size: 28px;
    line-height: 33px;
  }
  .info__section__text__body p:nth-child(1) {
    font-size: 19px;
    line-height: 21px;
    margin-top: 21px;
  }
  .info__section__text__body p:nth-child(2) {
    font-size: 19px;
  }
  .about__detox__section h3,
  .detox__bar h3,
  .our__ingredient h3,
  .instagram__detox h3,
  .shipping__detox h3,
  .reviews__detox h3,
  .add__reviews__detox h3,
  .detox__contact h3 {
    font-size: 40px;
  }
  .detox__section__image img {
    width: 300px;
  }
  .detox__section__text__p {
    font-size: 14px;
  }
  .info__detox__section__body p {
    font-size: 19px;
  }
  .about__detox__section__body img {
    width: 140px;
  }
  .about__detox__section__body p {
    font-size: 14px;
  }
  .shipping__detox__image img {
    margin-top: 75px;
    width: 90px;
  }
  .shipping__detox__image h5 {
    font-size: 15px;
  }
  .shipping__detox__image p {
    width: 177px;
    font-size: 10px;
  }

  .by__detox__form {
    margin-top: 16px;
  }
  .by__detox__image p {
    font-size: 17px;
  }
  .by__detox__input__name label {
    font-size: 17px;
  }
  .by__detox__form input {
    padding: 15px 14px 20px 20px;
  }
  .info__section__text__button:nth-child(2) {
    margin-top: 70px;
  }
  .shipping__detox_bg {
    top: -40%;
  }
  .reviews__detox__body__name {
    width: 350px;
    padding: 3px 0 3px 5px;
  }

  .reviews__detox__body__text p {
    font-size: 17px;
  }
  .add__reviews__detox__body__name {
    width: 425px;
    padding: 3px 0 3px 5px;
  }
  #add__review__detox__input {
    font-size: 16px;
  }
  .detox__footer p {
    font-size: 10px;
  }
  .detox-none{
    display: none;
  }
  .detox-block{
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .nav{
    align-items: center;
  }
  .header__phone{
    display: none;
  }
  .menu-none-detox{
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  }
  .info__section{
    display: block
  }
  .info__section__image img{
    width: 70%;
    text-align: center;
    display: block;
    margin: 0 auto;
    position: relative;
    right: 0;
  }
  .info__section{
    margin: 0;
  }
  .info__section__text__title h2{
    font-size: 21px;
  }
  .info__section__text__body p:nth-child(1){
    font-size: 16px;
    color: #7D7D7D;
  }
  .info__section__text__body p:nth-child(2){
    font-size: 16px;
    color: #7D7D7D;
  }
  .br{
    display: none;
  }
  .info__section__text__button{
    margin-top: 30px;
    text-align: center;
  }
  .detox__section{
    display: block;
  }
  .detox__section__image{
    display: none;
  }
  .detox-none{
    display: block;
    text-align: center;
  }
  .detox__section__image-none img{
    width: 300px;
    margin-top: 20px;
    
  }
  .detox__section__text__p b{
    font-size: 15px;
  }
  .detox__section__text__p{
    line-height: 19px;
  }
  .info__detox__section__title h3{
    font-weight: bold;
    color: #249774;
    font-size: 20px;
    text-align: center;
    margin: -50px 0 35px 0;
  }
  .info__detox__section__body{
    margin-bottom: 10px;
  }
  .info__detox__section__body p{
    padding-left: 20px;
    font-size: 12px;
    line-height: 18px;
  }
  .info__detox__section__body img{
    width: 41px;
  }
  .about__detox__section h3{
    font-weight: bold;
    color: #249774;
    font-size: 20px;
    text-align: center;
    margin: -50px 0 35px 0;
  }
  .about__detox__section__flex{
    display: block;
    margin-top: 0;
  }
  .about__detox__section__body p{
    margin: 20px 0 20px 0;
    font-weight: bold;
    font-size: 17px;
  }
  .detox__bar{
    margin-top: 100px;
  }
  .detox__bar h3{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin: -50px 0 35px 0;
  }
  .detox__bar__flex{
    display: block;
    text-align: center;
  }
  .detox__bar__image img{
    width: 50%;
  }
  .detox-nine{
    display: none;
  }
  .detox__bar__image h4{
    font-size: 17px;
    font-weight: bold;
  }
  .detox__bar__image p{
    width: 60%;
    margin: 0 auto;
  }
  .nth_3 {
    margin-top: 20px;
  }
  .by__detox h3{
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    
  }
  .by__detox__flex{
    display: block;
    margin-top: 20px;
  }
  .by__detox__right{
    display: none;
  }
  .detox-block{
    display: block;
  }
  .detox-block button{
    display: none;
  }
  .by__detox__input__name{
    text-align: center;
  }
  .by__detox__input .by__detox__input__name:nth-child(1){
    margin-left: 0;
  }
  .by__detox__form input{
    width: 160px;
    padding: 15px 14px 20px 10px;
  }
.slider_item{
  text-align: center;
}
.prev__slider{
  top: 25%;
}
.next__slider {
  top: 25%;
  left: 85%;
}
.by__detox__image p{
  letter-spacing: 0px;
  line-height: 20px;
  width: 100%;
  margin-top: 30px;
  font-size: 15px;
  font-size: 11px;
}
.our__ingredient{
  margin-top: 20px;
}
.our__ingredient h3{
    font-size: 20px;
}
.our__ingredient__image p{
  font-size: 17px;
}
.our__ingredient__flex{
  display: block;
}
.instagram__detox h3{
  margin-top: 50px;
  font-size: 20px;
}
.detox__gallery__instagram{
  display: block;
}
.info__section__text__button button{
  font-size: 19px;
  padding: 10px 17px;
}
.detox__image__gallery img{
  width: 100%;
}
.shipping__detox__flex{
  display: grid;
  grid-template-columns:repeat(2, 1fr);
}
.detox__image__gallery__center img{
  width: 100%;
}
.reviews__detox h3{
  margin-top: 50px;
  font-size: 20px;
}
.reviews__detox__body__name{
  width: 35%;
}
.reviews__detox__body__name img{
  width: 40%;
}
.reviews__detox__body__name p{
  font-size: 11px;
  padding-left: 9px;
}
.reviews__detox__body__text {
  margin-top: 30px;
  padding: 24px 7px 23px 14px;
}
.reviews__detox__body__text p {
  line-height: 17px;
  margin-top: 5px;
  font-size: 11px;
}
.add__reviews__detox h3{
  margin-top: 50px;
  font-size: 20px;
}
.add__reviews__detox__body__name{
  width: 80%;
}
.add__reviews__detox__body__name img{
  width: 17%;
}
#add__review__detox__input {
  font-size: 13px;
  
}
.add__reviews__detox__body__text p{
  font-size: 14px;
}
#add__review__detox__text__input{
  margin-top: 5px;
  font-size: 14px;
}
.add__reviews__detox__body__text {
  margin-top: 20px;
  padding: 15px 15px 15px 15px;
  height: 150px;
}
.detox__contact h3{
  margin-top: 50px;
  font-size: 20px;
}
.detox__contact__text{
  text-align: center;
}
.header__clock__logo {
  display: block;
  text-align: center;
}
.header__phone__logo{
  display: block;
}

.nav{
  position: relative;
}
.header__logo{
  display: block
}
.block-nav {
  display: block;
}
#block-nav{
  position: absolute;
    top: 87%;
    left: 50%;
}
}
